{% extends 'layouts/admin_layout.html.twig' %}

{% block title %}Edit Property{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="property-container">
        <div class="property-header">
            <h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: inline-block; vertical-align: middle; margin-right: 0.5rem;">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                Edit Property
            </h1>
            <p>Update the details below to modify your property listing</p>
        </div>

        <div class="form-card">
            {{ include('property/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="form-actions">
                <a href="{{ path('app_property_index') }}" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    Back to List
                </a>

                {{ include('property/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}